.acceuil{
    margin-top: 50%;
    margin-left: 7%;
}
.acceuilImg {
    width: 150px;
    margin-top: 20%;
    margin-left: 10%;
    border: black solid 3px;
}
body {
    background-color: indianred;
}
p {
    color: black;
    font-weight: bold;
    font-size: 30px;
    font-family: Arial;
    text-decoration: underline;
}